<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://cordova.apache.org/ns/plugins/1.0"
           id="org.apache.cordova.legacyandroidwebsql"
      version="0.1.0">

    <name>Legacy Android WebSQL</name>

    <platform name="android">
        <js-module src="legacywebsql.js" name="legacywebsql" />

        <js-module src="openDatabase.js" name="openDatabase">
            <clobbers target="openDatabase" />
            <clobbers target="cordova.plugins.legacySQL.openDatabase" />
        </js-module>

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="LegacyWebSql">
                <param name="android-package" value="org.apache.cordova.legacywebsql.LegacyWebSql"/>
            </feature>
        </config-file>

        <source-file src="LegacyWebSql.java" target-dir="src/org/apache/cordova/legacywebsql" />
    </platform>
</plugin>
