<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:rim="http://www.blackberry.com/ns/widgets"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="org.apache.cordova.labs.notification-rebroadcast"
    version="0.1.0">
    <name>Cordova Notification Rebroadcast Plugin</name>
    <description>rebroadcasts local and remote notifications to other plugins, and as events in JavaScript</description>
    <license>Apache 2.0</license>
    <keywords>cordova,local,remote,push,notifications</keywords>
    <repo>https://git-wip-us.apache.org/repos/asf/cordova-plugins.git</repo>

	<engines>
		<engine name="cordova" version=">=3.9.9" />
	</engines>
    
    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="CDVNotificationRebroadcast">
                <param name="ios-package" value="CDVNotificationRebroadcast" />
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <header-file src="src/ios/CDVNotificationRebroadcast.h" />
        <source-file src="src/ios/CDVNotificationRebroadcast.m" />
        
    </platform>

</plugin>
