<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://cordova.apache.org/ns/plugins/1.0"
           id="org.apache.cordova.labs.androidstorage"
      version="0.1.0">

    <name>Android Storage</name>

    <!-- android -->
    <platform name="android">
        <js-module src="storage.js" name="storage" />

        <js-module src="openDatabase.js" name="openDatabase">
            <clobbers target="openDatabase" />
        </js-module>

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Storage">
                <param name="android-package" value="org.apache.cordova.labs.storage.Storage"/>
            </feature>
        </config-file>

        <source-file src="Storage.java" target-dir="src/org/apache/cordova/labs/storage" />
    </platform>
</plugin>
