<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="org.apache.cordova.labs.okhttp"
    version="0.0.1">
    <name>OkHttp</name>
    <description>Uses OkHttp for network requests made by plugins that use CordovaResourceApi.createHttpConnection, such as org.apache.cordova.file-transfer.</description>
    <license>Apache 2.0</license>
    <keywords>cordova,okhttp</keywords>
    <engines>
        <engine name="cordova-android" version=">=4.0.0-dev" />
    </engines>

    <platform name="android">
        <framework src="library" custom="true" />
        <config-file parent="/*">
            <feature name="OkHttpPlugin">
                <param name="android-package" value="org.apache.cordova.okhttpplugin.OkHttpPlugin" />
                <param name="onload" value="true" />
            </feature>
        </config-file>
    </platform>
</plugin>
