<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:rim="http://www.blackberry.com/ns/widgets"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="org.apache.cordova.labs.notification"
    version="0.0.1">
    <name>Notification</name>
    <description>Cordova Notification Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,notification</keywords>

	<engines>
		<engine name="cordova" version=">=4.0.0" />
	</engines>

    <js-module src="www/notification.js" name="notification">
    	<clobbers target="window.Notification" />
    </js-module>

    <!-- firefoxos -->
    <platform name="firefoxos">
		<permission name="desktop-notification" description="Your reason here">
        <js-module src="src/firefoxos/NotificationProxy.js" name="NotificationProxy">
            <runs />
        </js-module>
    </platform>

</plugin>
