<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:rim="http://www.blackberry.com/ns/widgets"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="org.apache.cordova.labs.notification"
    version="0.0.1">
    <name>Notification</name>
    <description>Cordova Notification Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,notification</keywords>

	<engines>
		<engine name="cordova" version=">=3.6.0" />
	</engines>

    <js-module src="www/notification.js" name="Notification">
        <clobbers target="window.Notification" />
    </js-module>

    <!-- firefoxos -->
    <platform name="firefoxos">
        <config-file target="config.xml" parent="/*">
			<permission name="desktop-notification" description="Cordova default message" />
		</config-file>
        <js-module src="src/firefoxos/notification.js" name="firefoxNotification">
            <runs />
        </js-module>
    </platform>

</plugin>
