<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://cordova.apache.org/ns/plugins/1.0"
           id="org.apache.cordova.websql"
      version="0.1.0">

    <name>Android WebSQL</name>

    <!-- android -->
    <platform name="android">
        <js-module src="android_websql.js" name="storage">
            <runs />
        </js-module>

        <config-file target="res/xml/config.xml" parent="/*">
            <access origin="websql://foo" />
            <feature name="WebSQL">
                <param name="android-package" value="org.apache.cordova.websql.WebSQLPlugin" />
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <source-file src="WebSQLPlugin.java" target-dir="src/org/apache/cordova/websql" />
    </platform>
</plugin>
